<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HuHui_Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>062CDE661EF01BF300C81F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>062CDE7A1EF01BF300C81F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>062CDE851EF01BF300C81F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
