<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>类的构造函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>063967681EA64B6100C8A347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0639677C1EA64B6100C8A347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>063967871EA64B6100C8A347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
